body {
  background-color:#FFFFFF;
  color: #b3b3b3;
  font-family: 'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
}
html, body {
    height: 100%; /*zen*/
}
h1 {
  font-family: 'Helvetica Neue', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
	font-size: 40px;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 20px;
  line-height: 1.00;
}
h2 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 0;
  margin-bottom: 0;
}
p {
	font-size: 20px;
	font-weight: 100;
  margin-bottom: 30px;
}

a {
	color: #FFED7D;
	text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: #FFED7D;
  /*text-decoration: none;*/
}
a:hover {
  color: #FFED7D;
  /*font-weight: bolder;*/
}
.container {
  /* max-width: 920;
  margin: 0 auto;
  text-align: center */
}

.div-center {
  margin: 2em auto 10em;
  width: 80%;
  text-align: center;
  overflow: auto;
}
.div-aligntext {
  text-align: left;
}

@media(max-width: 800px) { /* for devies under 600px width, iPhone 6+ */
  h1 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 1.3em;
    margin-top: 0.4em;
  }
  h3 {
    font-size: 1.1em;
    margin-top: 0.6em;
  }
  h4 {
    font-size: 0.9em;
  }
  p {
  	font-size: 18px;
  }
  ol {
    font-size: 18px;
  }
  ul {
 	min-width: 260px;
  font-size: 12px;
  column-gap: 35px;
 	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body{
    font-family: 'Helvetica', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Arial', 'Lucida Grande', 'sans-serif';
  }
  .div-landscape-sm {
    float: right;
    width: 50%;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  body{
    font-family: 'Helvetica', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Arial', 'Lucida Grande', 'sans-serif';
  }
  .div-landscape-sm {
    width: 100%;
  }
}
