body {
/* background-color:#FFFFFF; */
/* background-image: repeating-linear-gradient(); */
color: #FFF;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
/* overflow-x: hidden;
width: 100%;
padding: 0 !important;
  margin: 0 !important; */
}

.font-blue {
color: #4984C0;
}

h1 {

}
h2 {

}
p {
font-size: 20px;
}

a {
color: #FFF;
/* text-decoration: none; */
}
a, a:visited, a:hover, a:active {
/* color: #FFED7D;
/*text-decoration: none;*/ */
}
a:hover {
color: #FFFFFF;
opacity: 0.5;
/*font-weight: bolder;*/
}

.hidden {
  display: none;
}
button:hover .visible
{
  display: none;
}
button:hover .hidden {
  display: block;
}
.hidden, .visible {
  width:40px;
  height:40px;
}

.container {
max-width: 900px;
/* margin: 0 auto;
text-align: center; */
}
.backgradient {
background-image: url(https://s3-us-west-2.amazonaws.com/vested/background-grad.png);
background-repeat: repeat-x;
background-size:contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-aligntext {
text-align: left;
}

.img-heading {
display: block;
height: 3em;
padding-top: 0.3em;
background-color: #FFF;
background-image: url(https://s3-us-west-2.amazonaws.com/vested/logo-vested.png);
background-repeat: no-repeat;
background-size: 100px;
background-position: center;
opacity: 0.95;
}
.img-icons {
height: 3em;
padding-top: 6em;
background-image: url(https://s3-us-west-2.amazonaws.com/vested/icons.png);
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
opacity: 0.5;
}
.img-icons-mobile {
height: 3em;
padding-top: 6em;
background-image: url(https://s3-us-west-2.amazonaws.com/vested/icons-mobile.png);
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
opacity: 0.5;
}
.hero {
margin-top: -10px;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size: 42px;
font-style: normal;
font-variant: normal;
font-weight: 900;
}
.hero-blue {
margin-top: 2em;
color: #4984C0;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size: 36px;
font-style: normal;
font-variant: normal;
font-weight: 900;
}
.hero-rotate {
margin-top: 2em;
padding-top: 2em;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size: 36px;
font-style: normal;
font-variant: normal;
font-weight: 900;
}
.hero-rotate-small {
margin-top: 2em;
padding-top: 2em;
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size: 24px;
font-style: normal;
font-variant: normal;
font-weight: 900;
}
.spacing-top {
padding-top: 10em;
}
.spacing-bottom {
padding-bottom: 3em;
}
.font-lt {
color: #FFFFFF;
opacity: 0.5;
}
.image-float {
  float:right;
}

#signup-form input#email::-webkit-input-placeholder {color:#3D72B3; opacity: 0.5;}
#signup-form input#email::-moz-placeholder          {color:#3D72B3; opacity: 0.5;}
#signup-form input#email:-moz-placeholder           {color:#3D72B3; opacity: 0.5;}
#signup-form input#email:-ms-input-placeholder      {color:#3D72B3; opacity: 0.5;}


@media(max-width: 800px) { /* for devies under 600px width, iPhone 6+ */
h1 {
  font-size: 28px;
  margin-bottom: 24px;
}
h2 {
  font-size: 1.3em;
  margin-top: 0.4em;
}
h3 {
  font-size: 1.1em;
  margin-top: 0.6em;
}
h4 {
  font-size: 0.9em;
}
p {
  font-size: 18px;
}
ol {
  font-size: 18px;
}
ul {
min-width: 260px;
font-size: 12px;
column-gap: 35px;
}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
body{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.div-landscape-sm {
  float: right;
  width: 50%;
}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
body{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.div-landscape-sm {
  width: 100%;
}
}
